@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

:root{
    --white: hsl(0, 0%, 100%);
    --brightOrange: hsl(31, 77%, 52%);
    --darkCyan: hsl(184, 100%, 22%);
    --veryDarkCyan: hsl(179, 100%, 13%);
    --veryLightGray: hsl(0, 0%, 95%);
    --transparentWhite: hsla(0, 0%, 100%, 0.75);

    box-sizing: border-box;
}

body {
    background-color: var(--backGround);
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    max-width: 350px;
    margin: auto;
}

main > div {
    padding-top: 5%;
    width: 90%;
    margin: auto;
    font-family: 'Lexend Deca', sans-serif;
}

main > div:first-of-type {
    border-radius: 0.5rem 0.5rem 0 0;
}
main > div:last-of-type {
    border-radius: 0 0 0.5rem 0.5rem;
}
h1{
    font-family: 'Big Shoulders Display', cursive;
    font-size: 3rem;
    text-transform: uppercase;
    color: var(--white);
    margin: 1rem 0 2rem 2rem;
}

p{
    margin: 0 2.3rem;
    color: var(--transparentWhite);
    line-height: 1.5rem;
}

.btnLearn{
    margin: 2rem;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 0.8rem;
    letter-spacing: 1px;
    transition: 0.3s;
    display: inline-block;
    cursor: pointer;
    padding: 1rem 2rem;
    background-color: var(--white);
    text-transform: capitalize;
    color: inherit;
    text-decoration: none;
    border-radius: 1.5rem;
    transition: 0.4s;
}

.btnLearn:hover{
    background-color: transparent;
    color: var(--white);
    transition: 0.5s;
}

.enTete {
    display: flex;
    flex-direction: column;
}
.icone {
    max-width: 20%;
    margin: 2rem 0 0 2rem;
}

.orange{
    background-color: var(--brightOrange);
    color: var(--brightOrange);
}

.bleuvert{
    background-color: var(--darkCyan);
    color: var(--darkCyan);
}

.vert{
    background-color: var(--veryDarkCyan);
    color: var(--veryDarkCyan);
}

.attribution {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

@media screen and (min-width: 1080px) {
main {
    flex-direction: row;
    margin: auto;
    max-width: 60vw;
}
    
main > div {
    padding-top: 5%;
    margin: auto;
    font-family: 'Lexend Deca', sans-serif;
    min-height: 50vh;
}
    
    main > div:first-of-type {
        border-radius: 0.5rem 0 0 0.5rem;
    }
    main > div:last-of-type {
        border-radius: 0 0.5rem 0.5rem 0;
    }

}